.llave-img {
	justify-content: center;
	margin: auto;
	width: 100px
}
.flex-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-family: sans-serif;
}
.flex-item{
	padding: 5px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	border-radius: 10px;
	border: 5px solid rgba(40, 60, 180, .29);
	background: rgba(40, 44, 140, .9);
	transition: .5s;
	cursor: pointer;
}
.flex-item:hover{
	box-shadow: 0 0 12px rgba(24, 20, 33, .48);
	border: 5px solid rgba(240, 230, 230, .99);
}
.texto{
	text-orientation: center;
	text-align: center;
	margin-bottom: -7px;
}
.precio{ font-size: 12px; color: rgba(230, 240, 240, .99); }
.modelo{ font-size: 12px;  color: rgba(190, 240, 190, .99) }
.nombre{ font-size: 12px; color: #f9f9f9f9; }
.enviar{ padding: 10px 16px 10px 16px; font-size: 17px; color: 
	white; background-color: rgba(20, 200, 120, .99); 
	border-radius: 3px; border: 0px solid ; cursor: pointer;
	 letter-spacing: 1px; }
.formulario{ display: flex; justify-content: center; }